<a href="https://colab.research.google.com/github/18K41A0562/Assignment/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1

a = float(input("Enter length of 1st side:"))  
b = float(input("Enter length of 2nd side:"))  
c = float(input("Enter length of 3rd side:")) 
if a+b>c:
  s = (a+b+c)/2  
  Area = ( s*(s-a)*(s-b)*(s-c) ) ** (0.5)
  print("The area of the triangle:",round(Area,3))  
else:
  print("The triangle is not possible")

Enter length of 1st side:1
Enter length of 2nd side:5
Enter length of 3rd side:12
The triangle is not possible

In [ ]:
#2

st = input("Enter a string: ")
if st == st[::-1] :
    print("The Given string {} is a palindrome".format(st))
else:
    print("The Given string {} is not a palindrome".format(st))

Enter a string: jarvis
The Given string jarvis is not a palindrome

In [ ]:
#3

y = int(input("Enter a year:"))
if y%4 == 0:
    print("{} is leap year".format(y))
else:
    print("{} is not a leap year".format(y))

Enter a year:2028
2028 is leap year

In [ ]:
#4

s = input("Enter a string: ")
print(s.replace(' ','-'))

Enter a string: hi jarvis what are u up to?
hi-jarvis-what-are-u-up-to?

In [ ]:
#5

s = input("Enter a string: ")
s = s.split(',')
print(sorted(set(s)))

Enter a string: orange,white,red,cyan,green,magenta,cyan,pink,white
['cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white']

In [ ]:
#6

sal = int(input("Enter salary : "))
if sal<=250000:
    t = (sal*0)
elif sal>250000 and sal<=500000:
    t = (sal*0.05)
elif sal>500000 and sal<=750000:
    t = (sal*0.1)
elif sal>750000 and sal<=1000000:
    t = (sal*0.15)
elif sal>1000000 and sal<=1250000:
    t = (sal*0.2)
elif sal>1250000 and sal<=1500000:
    t = (sal*0.25)
else:
    t = (sal*0.3)
print("Tax is : ",t)

Enter salary : 650000
Tax is :  65000.0

In [ ]:
#7

lis = ['23','72','36']
s = ""
s = s.join(lis)
print(s)

237236

In [ ]:
#8

s1 = int(input("Enter number of Days: "))
s2 = int(input("Enter number of Hours: "))
s3 = int(input("Enter number of Minutes: "))
s4 = int(input("Enter number of Seconds: "))
seconds = s1*86400
seconds = seconds + (s2*3600)
seconds = seconds + (s3*60)
seconds = seconds + s4
print("Total number of seconds = ",(seconds))

Enter number of Days: 3
Enter number of Hours: 10
Enter number of Minutes: 40
Enter number of Seconds: 55
Total number of seconds =  297655

In [ ]:
#9

a,b,c = map(int, input("Enter any 3 digits: ").split())
#b = int(input("Enter b number:"))
#c = int(input("Enter c number:"))
x = min(a,b,c)
y = max(a,b,c)
z = (a+b+c)-x-y
print("Sorted order is:",x,z,y)

Enter any 3 digits: 9 1 6
Sorted order is: 1 6 9

In [ ]:
#10


y = (input("Enter a year : "))
y = y.split("-")
yr = int(y[0])
leap_year = False
if yr%4 == 0:
    leap_year = True

month = int(y[1])
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30

day = int(y[2])
if day<month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        yr += 1
    else:
        month += 1
print("The immediate successor is (YYYY-MM-DD) : %04d-%02d-%02d." %(yr,month,day))

Enter a year : 2019-02-28
The immediate successor is (YYYY-MM-DD) : 2019-03-01.

In [ ]:
#11

lis = [45,3,2,89,72,1,10,7]
x=1
for i in range(len(lis)):
    x *= lis[i]
print(x)

121111200

In [ ]:
#12

lis = [5,6,8,34,89,1]
Out_list = []
for i in range(len(lis)-1):
    ld = lis[i] + lis[i+1]
    Out_list.append(ld)
print("Out_list=", Out_list)

Out_list= [11, 14, 42, 123, 90]

In [ ]:
#13

tup = (5,6,8,3,9,1)
Out_list = []
Out_list.append(tup[0])
for i in range(len(tup)-1):
    p = Out_list[i] * tup[i+1]
    Out_list.append(p)
print("Out_list=", Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

In [ ]:
#14

num = input("Enter a number: ")
lis = []
for i in range(len(num)):
    lis.append(int(num[i]))
print(lis)

Enter a number: 298317
[2, 9, 8, 3, 1, 7]

In [ ]:
#15

def longestpalindrome(s):
    d = [[False for i in range(len(s))] for i in range(len(s))]
    for i in range(len(s)):
        d[i][i] = True
    maxlen = 1
    start = 0
    for l in range(2,len(s)+1):
        for i in range(len(s)-l+1):
            end = i+l
            if l == 2:
                if s[i] == s[end-1]:
                    d[i][end-1] = True
                    maxlen = l
                    start = i
            else:
                if s[i] == s[end-1] and d[i+1][end-2]:
                    d[i][end-1] = True
                    maxlen = l
                    start = i
    return s[start:start+maxlen]
s = input("Enter a string : ")
print(longestpalindrome(s))

Enter a string : deefasjsafqwks
fasjsaf

In [ ]:
#16

tr=int(input("Enter no.of attempts: "))
for i in range(tr):
  A,B=input("Enter string A and string B: ").split()
  if len(A)==10 and len(B)==5:
    if B in A:
      print("1")
    else:
      print("0")
  else:
    print("Invalid entry!!!!!")

Enter no.of attempts: 3
Enter string A and string B: 1011101011 10110
0
Enter string A and string B: 1011010101 10101
1
Enter string A and string B: 101010101 10101
Invalid entry!!!!!

In [ ]:
#17

def gcd(a,b):
    if b == 0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1 = b
    v2 = 0
    count = 1
    while (v1 is not c) and (v2 is not c): 
        temp = min(v1,a-v2)
        v2 += temp 
        v1 -= temp 
        count += 1
        if (v2 == c) or (v1 == c): 
            break
        if v1 == 0: 
            v1 = b 
            count += 1
        if v2 == a: 
            v2 = 0
            count += 1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp = a 
        a = b 
        b = temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))


tr=int(input("Enter no.of attempts(testcases) : "))
for i in range(tr):
  a,b,c = map(int, input("Enter capacity of vessels a,b and c : ").split())
  print("Minimum ",ispossible(a,b,c)," number of steps required. ")

Enter no.of attempts(testcases) : 2
Enter capacity of vessels a,b and c : 44 12 15
Minimum  -1  number of steps required.
Enter capacity of vessels a,b and c : 22 3 2
Minimum  16  number of steps required.